<!DOCTYPE html>
<html lang="en">
<head>
<title>Home</title>
</head>
<body>
    {% include 'inc/navbar.html'%}
    <div class="jumbotron">
    {% include 'inc/messages.html' %}
    {% block content %} {% endblock %}
    </div>
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">



  <!-- Modal for full size images on click-->
  <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
    <span class="w3-button w3-black w3-xxlarge w3-display-topright">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
      <img id="img01" class="w3-image">
      <p id="caption"></p>
    </div>
  </div>


<!-- End page content -->
</div>
   
</body>
</html>


