{% extends 'base.html' %}

{% block content %}
<div class="w3-main" style="margin-left:340px;margin-right:40px">


      <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
      <h2 class="w3-jumbo"><b><b> Welcome to Doctor Medbot's Health Center </b></b></h2>
    <!--<h1 class="w3-xxxlarge w3-text-red"><b>RHC</b></h1> -->
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>

      <!-- Services -->
  <div class="w3-container" id="services" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Services.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p> Join our services today for a minimal fee of 4.99 £ a month</p>
  </div>

  <!-- Services -->
    <!--
  <div class="w3-container" id="NHS" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>NHS .</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p> NHS and that everything is from now I'll be expensive  </p>
    <p> Join Reza health center today for 9.99 £ per month</p>
  </div>
  -->

    </div>
{% endblock %}
 